body{
    background-color:#e094d4;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:700px;
    margin:17px;
}
button {
    background-color:#b943bd;
    color:white;
    font-family:"Times New Woman", times, serif;
}